.hero-body{
    padding:1.8em;
}
.title, .subtitle {
    text-align: center;
}
.submitBtn{
    background-color:#F8931D;
}
.section {
    padding:1rem 1.5rem;
}
.meal-input-area{
    padding: 1.8em 1.3em 1.3em 1.3em;
    background-color: #f9f9f9;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.text-input, .select, .button {
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%
}

.footer {
    position:fixed;
    background-color:#f9f9f9;
    margin:0;
    bottom: 0;
    width: 100%;
    padding:0.66em;
    font-size:0.88em;
    border-top:1px solid #e6e6e6;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#playlist audio{
    width:100%;
}
#playlist,#instructions{
    padding:1.5em 1.5em 5.5em 1.5em;
    max-height:100vh;
    min-height:100vh;
    overflow-y:auto;
}
#playlist{
    border-left: 1px solid #e6e6e6;
}
#playlist::-webkit-scrollbar-track,
#instructions::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#playlist::-webkit-scrollbar,
#instructions::-webkit-scrollbar
{
	width: 9px;
	background-color: #F5F5F5;
}

#playlist::-webkit-scrollbar-thumb,
#instructions::-webkit-scrollbar-thumb
{
	background-color: #e3e3e3;
}
.detailRecipe{
    font-style:italic;
    margin-bottom:1em;
}
.listRecipe{
    list-style: disc;
    margin-bottom: 1em;
}
.sourceTitleRecipe{
    margin-top:1em;
}
.diet-specific-option{
    margin:1em 0.5em 2em 0.5em;
}
.test{
    border-right: 1px solid #e6e6;
}